body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gradient */
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);

    #wrap {
        background-color: royalblue;
        height: 530px;
        width: 358px;
        border-radius: 10px;
        padding: 20px;
        background: #c5c5c51a;
        /* shadow */
        -webkit-box-shadow: 8px 7px 10px -5px #000000bf;
        -moz-box-shadow: 8px 7px 10px -10px #000000bf;
        box-shadow: 8px 7px 30px -10px #000000bf;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: space-around;
    }

    #wrap_pass {
        height: 70px;
        padding: 10px;
        font-size: 22px;
        border-radius: 6px;
        background: #313131;
        // padding-top: 20px;
        /* shadow */
        -webkit-box-shadow: 8px 7px 10px -5px #000000bf;
        -moz-box-shadow: 8px 7px 10px -10px #000000bf;
        box-shadow: 8px 7px 30px -10px #000000bf;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        #pass_icon {
            position: absolute;
            background-color: white;
            height: 31px;
            width: 31px;
            margin: 0;
            padding: 0;
            transform: translate(-25px, -34px);
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: #000000;
                height: 20px;
                width: 20px;
            }

        }

        #pass {
            font-family: monospace;
            color: white;
            overflow: hidden;
        }
    }

    #configs {
        display: flex;
        height: 120px;
        background-color: white;
        padding: 5px;
        border-radius: 6px;

        #size {
            display: flex;

            #controls {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 58px;

                button {
                    height: 50%;
                    margin: 1px;
                    background-color: #313131;
                    color: white;
                    font-size: 40px;
                    border-radius: 6px;
                    border: none;
                    cursor: pointer;
                    transition: all .2s;

                    &:hover {
                        scale: 1.07;
                    }
                }
            }

            #input_size {
                width: 80px;
                margin: 1px;
                font-size: 40px;
                text-align: center;
                background: #313131;
                color: white;
                border-radius: 6px;
            }
        }

        #types {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            font-size: 18px;

            .wrap_type {
                // input {}

                label {
                    font-family: 'Poppins', sans-serif;
                }

                // .type {}
            }
        }
    }

    #btns {
        display: flex;
        width: 100%;

        .btn {
            margin: 2px;
            height: 40px;
            font-family: 'Poppins', sans-serif;
            color: white;
            background-color: #313131;
            border: none;
            cursor: pointer;
            font-size: 15px;
            transition: all .2s;

            &:hover {
                scale: 1.03;
            }
        }

        #gerar {
            width: 50%;
            border-radius: 20px 0 0 20px;
        }

        #copiar {
            width: 50%;
            border-radius: 0 20px 20px 0;
        }
    }


}